<h1>Student Form</h1>
<%= form_tag posts_path do %>
  <label>First Name:</label><br>
  <%= text_field_tag :'post[title]' %><br>
 
  <label>Last name:</label><br>
  <%= text_area_tag :'post[description]' %><br>
 
  <%= submit_tag "Submit" %>
<% end %>